// Colors
$shade: rgba(0, 0, 0, 0.863);
$primary-color: linear-gradient(#006EFF, #1100FF);;
$header-secondary: #fff;
$header-color: #00EEFF;
// Fonts
$font-mobile: 1.3em;
$font-large: 2em;
// Media Query
$breakpoint-tablet: 768px;
$breakpoint-large: 1024px;

$shade-2: #181818;


// Array

