/* ============================================= */
/*              Base styles                      */
/* ============================================= */
h1,
h3 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: bolder;
}
h1 {
  @include tablet {
    font-size: 50px;
    color: white;
  }
}

h3 {
  font-size: 2em;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  margin: 0;
}
main {
  @include mobile-container;
}
img {
  width: 100%;
  display: block;
}
p,
li,
a {
  font-family: "Roboto", sans-serif;
}
a {
  font-weight: bolder;
}
p {
  font-size: $font-mobile;

  font-weight: lighter;
  @include tablet {
    font-size: 1.5em;
  }
}
aside {
  @include mobile-container;
}
i {
  font-size: 1.5em;
  @include tablet {
    font-size: 2em;
  }
}
/* ============================================= */
/*              Typography                       */
/* ============================================= */
