/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.button {
    @include center;
    width: 150px;
    padding: 20px 30px;
    border-radius: 5px;
    text-align: center;
    background-color: $shade;
    transition: background-color .6s ease-in-out;
    a {
        color: white;
        font-size: 1.5em;

        &:hover {
            color: darken(white,10%);
        }
    }
    &:hover {
        background-color: lighten($shade, 10%);
    }
    
}