.main-footer {
  background-color: $shade-2;
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  @include tablet {
    flex-direction: row;
  }
}

.footer {
  &-nav {
    margin: auto auto 25px auto;
    text-align: center;
    @include tablet {
      margin: auto;
    }
    span {
      @include center;
      color: white;
      @include footer_font;
    }
    a {
      
      color: white;
      font-weight: normal;
    }
  }

  &-contact {
    margin: auto;
    @include tablet {
      max-width: 50%;
    }
    h3 {
      color: white;
    }
    ul {
      @include ul_style_3;
      margin-bottom: 50px;
    }
    li {
      color: white;
      padding: 10px;
      font-size: 1.1em;
      @include tablet {
        font-size: 1.5em;
      }
    }
  }
}
