/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));    grid-template-areas: 
    'header'
    'profile'
    'info'
    'main'
    'footer';
    @include tablet {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        'header header'
        'profile info'
        'profile info'
        'main main'
        'footer footer';
        
    }
}

.h-container {
    grid-area: header;
}
.info {
    grid-area: info;
}

.profile-container {
    grid-area: profile;
}

.m-container {
    grid-area: main;
}
.main-footer {
    grid-area: footer;
}