.hamburger {
    position: fixed;
    top: 15px;
    right: 5px;
    transition: transform .6s ease-in-out;
    z-index: 110;
    
}

.hamburger-line {
    z-index: 101;
    position: relative;
    margin-top: auto;
    background: black;
    width: 30px;
    height: 6px;
    border-radius: 5px;
    transition: all .6s ease-in-out;
   @include tablet {
       display: none;
   }
    &::after {
        @include hamburger_line;
        transform: translateY(-10px);
    }

    &::before {
        @include hamburger_line;
        transform: translateY(10px);
    }
    // Targets hamburger
    &.open {
        background: transparent;
    }
    // Animation for hamburger
    &.open::before{
        transform: rotate(-45deg);
    }
    &.open::after{
        transform: rotate(45deg);
    }

    
    
}
