.h-container {
  width: 100%;
  
  background-color: white;
  @include center_image;

  @include tablet {
    background: $primary-color;
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  }
  &::after {
    @include tablet {
    }
  }
}

.header-line {
  width: 80%;
  max-width: 448px;
  height: 3px;
  border-radius: 5px;
  background-color: black;
  margin: 40px auto;
  @include tablet {
    display: none;
  }
}
