/* ============================================= */
/*              Images                           */
/* ============================================= */

.overlay {
    position: relative;
    margin-top: 50px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    &-text {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease-in-out;
        opacity:0;
        color: white;
        font-size: 20px;
        text-align: center;
    }

    &:hover &-text {
        opacity: 1;
    }
}

.profile {
    
    @include center;
    img {
        border-radius: 1000px;
        max-width: 448.2px;
        @include center;
    }
    p {
        
        width: 100%;
        @include tablet{
            max-width: 700px;
            @include center;
        }
    }
    @include large_screen {
        width: 100%
    }
}

.images {
    @include tablet {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
        grid-gap: 20px;
        
    }

    
}
